p{
    color:magenta;
}

#p2{
    color:blue;
}

.green-text{
    color: green;
}

body{
    border: black solid 1px;

}

.padd1{
    border: black solid 1px;
    background-color: yellow;
    
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

#marg1{
    
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

#marg2{

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
}


table{
    border: black solid 1px;
}

tr{
    border: black solid 1px;
}

th{
    border: black solid 1px;
    height: 20px;
}

td{
    border: black solid 1px;
    height: 25px;
    padding: 5px;
}