
/* box-sizing has two types */

/* content-box → width & height apply only to content  (padding & border increase total size beyond 300×300)       box-sizing: content-box; */

/* border-box → width & height include content + padding + border (total box remains exactly 300×300) * box-sizing: border-box; */


h1{
    color: white;
    background-color: orange;
    height: 25%;
    width: 25%;

   
    /*    width + type + color  */
    border: 10px solid black;

    
    /* left right up down all 4 side 10 padding */
    padding: 25px; 
    padding: 10px 20px 30px 40px;/* padding order : top right bottom left */ 
  /* padding order : (top+bottom) (right+left) */ 
   padding: 20px 40px;

    /* case 1 only for one specific postion as top right bottom left*/
  padding-top:70px;

    margin: 25px;


    border-radius: 20px;
}

h2{
    background-color: lightblue;
    height: 50%;
    width: 30%;

    padding: 17px;
    margin: 10px;
    margin-bottom: 25px;
}

#s1{
    background-color: lightblue;
    height: 50%;
    width: 30%;

    padding: 17px;
    margin-top: 30px;
    margin-right: 0px;

}
#s2{
    background-color: blue;
    height: 50%;
    width: 30%;

    padding: 17px;
    margin-left: -5px;
    /* margin: 0px; */
}
p{
    background-color: lightblue;
    height: 60%;
    width: 40%;

    padding: 27px;
    margin: 20px;
}
