/* Tag element Selector
h1{
    background-color: purple;
}

ul{
    background-color: white;
}

li{
    background-color: beige;
}

h2{
    background-color: orange;
}


/* id base selection */ 
/* # use for id */
/* #first{
    background-color: blue;
}

#second{
    background-color: cadetblue;
} */


/* class based selection */
/*  . is used for class based selection */

/* .gym{
    background-color: brown;
} */ 

/* group based selection */
.gym,h2{
    /* vh viewport height , vw viewport width , means 5vh means 5% font size of height of web page */
    background-color:aqua;
    font-size: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}



/* pixel is picture element  */

#fourth{
 font-size: 1em;
}

li,ol{
 font-size: 1em;
}