body {
    font-family: Arial;
    background-color: black;
    color: aliceblue;
}

.calculator {
    width: 200px;
}

#display {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}

button {
    width: 45px;
    height: 30px;
    margin: 2px;
}