/* *{
    color: white;
} */
body{
    background-image:url("https://tinypng.com/images/social/website.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
body{
    
    background-color : black;
}

h2{
    color: blue;
}

#p1{
    color: red;
}

#p2{
    color: green;
}
 
/* for pargraph .customname is used */
.para{
   background-color: goldenrod;
}

body div div h1{
    background-color: grey;
}


/* body>#f */


/* general sibling selector */
h1~h1{
    background-color: pink;
}

/* adjacent sibling selector */
/* h1+h1{
    background-color: cyan;
} */

/* pseduo element selector */ 

p::first-letter{
    font-size: 40px;
    color: red;
}

p::after{

}


ul li::marker{
    color: red;
}


p::after{
    content: " this is after element";
    color: red;
}


p::after{
    content: "🥳";
}



p::selection{
    background-color: red;
}

/* pseudo class selector */

p:hover{
    background-color: cyan;
}


a:active{
    color:mediumaquamarine
}

a:visited{
    color: red;
}