body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    /* background-image: url(https://plus.unsplash.com/premium_photo-1762539798175-57043a1b3c01?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
  background-image: url(https://images.unsplash.com/photo-1733247489206-f66cee6c509c?q=80&w=1727&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    background: rgb(202, 224, 141);
    padding: 20px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container:hover{
        background: rgb(154, 206, 12);
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    gap: 10px;
}



input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #e3e3e3;
    padding: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background: greenyellow;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
}

.delete-btn:hover{
    background: #bb0d0d;
    background-color: red;
}